#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  display: grid;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #006d77;
  --secondary-text-color: #83c5be;
  --primary-background-color: #ffddd2;
  --secondary-background-color: #e29578;
  --accent-color: #edf6f9;
}

body {
  margin: 0;
}

.main {
  display: grid;
}

.hero {
  background: var(--secondary-background-color);
  color: var(--primary-text-color);
  padding-top: 2em;
}

.hero-button {
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0.2em solid var(--primary-text-color);
  background: var(--secondary-text-color);
  color: var(--accent-color);
  transition: all 0.3s linear;
  cursor: pointer;
}

.hero-button:hover {
  transition: all 0.6s linear;
  box-shadow: -5px 5px 5px rgba(5, 3, 136, 0.3);

  /* cursor: pointer; */
}

.resultsSection {
  min-height: 20em;
  background: var(--primary-background-color);
  padding: 2em;
}

.footer {
  background: var(--secondary-background-color);
  color: var(--primary-text-color);
}

.footer-text {
  margin: 0;
}
